@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Indie Flower', cursive;
}

ul {
    list-style: none;
}

/* ------------------------HEADER---------------------------- */
/* NAV BAR */
nav {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
}

.nav-title {
    display: flex;
    align-items: center;
}

.nav-title-text {
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem 0.5rem rgb(251, 36, 158);
}

h1 {
    font-size: 3rem;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.title-img {
    width: 5vw;
}

.navribbon-img {
    width: 8vw;
}

.navbutton-img {
    height: 3vh;
}

/* OTHERS */
.welcome-container {
    background-image: url(../imgs/tokyotower.png);
    background-size: contain;
}

/*----for mobile----*/
@media screen and (max-width: 480px) {
    .nav-button {
        flex-direction: column;
    }

    .navribbon-img.de {
        display: none;
    }
}



/* ------------------------HOME MAIN---------------------------- */
.homemain {
    display: grid;
    grid-template-areas:
        'home1 home2 home3';
}

/* HOME LEFT */
.home-menu1 {
    grid-area: home1;
    background-image: url(../imgs/back-sun.gif);
}

.menu1-message {
    display: flex;
    align-items: center;
}

.menu1-message p {
    color: red;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.menu1-img1 {
    width: 15%;
}

.menu1-ul {
    text-align: center;
}

.place {
    text-decoration: none;
    cursor: not-allowed;
}

.menu1-li {
    margin: 1vw 0;
}

.menu1-p-img {
    width: 30%;
}

.menu1-a-img {
    width: 5%;
}

/* HOME CENTER */
.home-center {
    grid-area: home2;
    background-color: rgba(255, 255, 0, 0.434);
}

.bbs-container {
    position: relative;
    margin: 2vw 1vw;
    background-color: white;
    box-shadow: 5px 5px 5px black;
}

.bbs-img {
    width: 100%;
    overflow: hidden;

}

.bbs-text {
    position: absolute;
    top: 3%;
    padding: 5vw;
    font-size: 70%;
}


.center-img1 {
    width: 100%;
}

/* HOME RIGHT */
.home-menu2 {
    grid-area: home3;
    background-image: url(../imgs/back-blue.png);
    background-size: contain;
}

.menu2-li {
    margin: 2vw 0.5vw;
}

.menu2-img1 {
    width: 2vw;
}

.menu2-img2 {
    width: 3vw;
}

.menu2-img3 {
    width: 1.5vw;
}

time {
    font-weight: bold;
}

/*----for mobile----*/
@media screen and (max-width: 480px) {
    .homemain {
        grid-template-areas:
            'home1'
            'home2'
            'home3';
    }
}

/* ------------------------GUIDE MAIN---------------------------- */

.guidemain {
    background-image: url(../imgs/back-flower.jpg);
    background-size: contain;
    padding: 20vh 30vw;
}

.guidebox {
    background-color: green;
    border: 0.2rem dotted red;
    margin: auto;
}

.guide-img {
    float: right;
    width: 10vw;
}

.guide-img:hover {
    transform: scale(10);
    transition: 5s;
}

.guide-title {
    font-size: 3rem;
    color: yellow;
    font-weight: bold;
}

/* ------------------------FAQ MAIN---------------------------- */

.faq {
    background-image: url(../imgs/back-questions.png);
}

/* label */
.faq-label {
    width: 50%;
    background-color: blueviolet;
    border: 0.5rem solid pink;
    text-align: center;
    margin: 2vw auto;
    color: white;
}

/*questions*/
.faq-container {
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
    padding: 10vw;
    gap: 2vw;
    grid-template-areas:
        'i1 q1 i4 a1'
        'i2 q2 i5 a2'
        'i3 q3 i6 a3';
}

#img-a {
    grid-area: i1;
}

#img-b {
    grid-area: i2;
}

#img-c {
    grid-area: i3;
}

#question-a {
    grid-area: q1;
}

#question-b {
    grid-area: q2;
}

#question-c {
    grid-area: q3;
}

#img-d {
    grid-area: i4;
}

#img-e {
    grid-area: i5;
}

#img-f {
    grid-area: i6;
}

#answer-a {
    grid-area: a1;
}

#answer-b {
    grid-area: a2;
}

#answer-c {
    grid-area: a3;
}

.faq-people,
.answer-people {
    width: 5vh;
}

.question {
    background-color: rgb(127, 255, 212);
    border-radius: 20%;
    display: none;
    padding: 2vw;
}

.answer {
    background-color: rgb(255, 179, 0);
    border-radius: 20%;
    display: none;
    padding: 2vw;
}

/* it appears only during clicking */
#img-a:active~#question-a {
    display: grid;
}

#img-b:active~#question-b {
    display: grid;
}

#img-c:active~#question-c {
    display: grid;
}

#img-d:active~#answer-a {
    display: grid;
}

#img-e:active~#answer-b {
    display: grid;
}

#img-f:active~#answer-c {
    display: grid;
}

/*----for mobile----*/
@media screen and (max-width: 480px) {
    .faq-label {
        width: 80%;
    }

    .faq-container {
        padding: 2vw;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'i1 q1 q1'
            'a1 a1 i4'
            'i2 q2 q2'
            'a2 a2 i5'
            'i3 q3 q3'
            'a3 a3 i6'
    }
}


/* ------------------------FOOTER---------------------------- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-image: url(../imgs/footer-bar.gif);
    background-size: contain;
}

.footer-img1 {
    width: 3vw;
}

.footer-title {
    font-size: 2rem;
}

.footerbutton-img {
    width: 4vw;
    margin: 0 3vw;
}

#link {
    position: relative;
}

.link-bubble {
    display: none;
    position: absolute;
    background-color: yellowgreen;
    bottom: -20%;
    right: 20%;
}

.bubblebutton-img {
    width: 2vh;
    margin: 1vw;
}

#link:hover+.link-bubble {
    display: block;
}

.footer-child {
    background-color: yellow;
    border-radius: 10%;
    margin: 1vw;
}


/*----for mobile----*/
@media screen and (max-width: 480px) {
    .footerbutton-img {
        display: block;
        width: 10vw;
        margin: 2vw;
    }

    .link-bubble {
        bottom: -200vh;
        right: 30%;
    }
}