* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

/* ------------------------HEADER---------------------------- */
/* NAV BAR */
nav {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
}

.nav-title {
    display: flex;
    align-items: center;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.title-img {
    width: 5vw;
}

.navribbon-img {
    width: 8vw;
}

.navbutton-img {
    height: 3vh;
}

/* OTHERS */
.welcome-container {
    background-image: url(../imgs/tokyotower.png);
    background-size: contain;
}


/* ------------------------HOME MAIN---------------------------- */
.homemain {
    display: grid;
    grid-template-areas: 
    "home1 home2 home3";
}

/* HOME LEFT */
.home-menu1 {
    grid-area: home1;
    background-image: url(../imgs/back-sun.gif);
}

.menu1-message {
    display: flex;
    align-items: center;
}

.menu1-message p {
    color: red;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.menu1-img1 {
    width: 15%;
}

.menu1-ul {
    text-align: center;
}

.place {
    text-decoration: none;
    cursor: not-allowed;
}

.menu1-li {
    margin: 1vw 0;
}

.menu1-p-img {
    width: 30%;
}

.menu1-a-img {
    width: 5%;
}

/* HOME CENTER */
.home-center {
    grid-area: home2;
    background-color: rgba(255, 255, 0, 0.434);
}

.bbs-container {
    position: relative;
    margin: 2vw 1vw;
    background-color: white;
    box-shadow: 5px 5px 5px black;
}

.bbs-img {
    width: 100%;
}

.bbs-text {
    position: absolute;
    top: 3%;
    padding: 5vw;
    font-size: 90%;
}


.center-img1 {
    width: 100%;
}

/* HOME RIGHT */
.home-menu2 {
    grid-area: home3;
    background-image: url(../imgs/back-blue.png);
    background-size: contain;
}

.menu2-li {
    margin: 2vw 0.5vw;
}

.menu2-img1 {
    width: 2vw;
}

.menu2-img2 {
    width: 3vw;
}

.menu2-img3 {
    width: 1.5vw;
}

time {
    font-weight: bold;
}

/* ------------------------GUIDE MAIN---------------------------- */

.guidemain {
    background-image: url(../imgs/back-flower.jpg);
    background-size: contain;
    padding: 20vh 30vw;
}

.guidebox {
    background-color: green;
    border: 0.2rem dotted red;
    margin: auto;
}

.guide-img {
    float: right;
    width: 10vw;
}

.guide-img:hover {
    transform: scale(10);
    transition: 5s;
}

.guide-title {
    font-size: 3rem;
    color: yellow;
    font-weight: bold;
}

/* ------------------------FOOTER---------------------------- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-image: url(../imgs/footer-bar.gif);
    background-size: contain;
}

.footer-img1 {
    width: 3vw;
}

.footer-title {
    font-size: 2rem;
}

.footerbutton-img {
    width: 4vw;
    margin: 0 3vw;
}

#link {
    position: relative;
}

.link-bubble {
    display: none;
    position: absolute;
    background-color: yellowgreen;
    bottom: -20%;
    right: 20%;
}

.bubblebutton-img {
    width: 2vw;
    margin: 1vw;
}

#link:hover +.link-bubble {
    display: block;
}

.footer-child {
    background-color: yellow;
    border-radius: 10%;
    margin: 1vw;
}